html,body{
   .box{
     width: 220px;
     height: 120px;
     background: url("../images1/dog.jpg");
     background-size: cover;
     //background-color: red;
   }
   .box2{
     width: 220px;
     height: 120px;
     background: url("../images2/dog.jpg");
     background-size: cover;
     //background-color: red;
   }

 }

